
@{
    ViewBag.Title = "Notification";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Notification</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("ExecutiveDashboard", "Dashboards")">Home</a>
            </li>
            <li>
                <a>Miscellaneous</a>
            </li>
            <li class="active">
                <strong>Notification</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Toastr examples</h5>
                 
                </div>
                <div class="ibox-content">

                  

                    <div class="row">
                        <div class="col-lg-12">
                            <h4>Different Types of Notifications</h4> <br/>
                            <button type="button" class="btn btn-white" id="showsimple">Success Notification</button>
                            <button type="button" class="btn btn-white" id="showsimple1">Error Notification</button>
                            <button type="button" class="btn btn-white" id="showsimple2">Info Notification</button>
                            <button type="button" class="btn btn-white" id="showsimple3">Warning Notification</button>
                            <button type="button" class="btn btn-primary" id="showtoast">Toast has all properties</button>
                        </div>
                    </div>

                    

                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/plugins/toastrStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/toastr")

    <script type="text/javascript">
        $(document).ready(function () {

            var i = -1;
            var toastCount = 0;
            var $toastlast;
           

            $('#showsimple').click(function () {
                // Display a success toast, with a title
                toastr.success('Without any options', 'Simple notification!')
            });
     
            $('#showsimple1').click(function () {
                // Display a success toast, with a title
                toastr.error('Without any options', 'Simple notification!');
            });

            $('#showsimple2').click(function () {
                // Display a success toast, with a title
                toastr.info('Without any options', 'Simple notification!');
            });

            $('#showsimple3').click(function () {
                // Display a success toast, with a title
                toastr.warning('Without any options', 'Simple notification!');
            });

            $('#showtoast').click(function () {
                var shortCutFunction = "success"; //success, info, warning, error these are other types
                var msg = "dfdfdf";
                var title = "sdassd" || '';
                toastr.options.showDuration = 400;
                toastr.options.extendedTimeOut = 1000;
                toastr.options.timeOut = 700;
                toastr.options.hideDuration = 1000;
                toastr.options.showEasing = "swing";   //placeholder="swing, linear"
                toastr.options.hideEasing = "linear";    //placeholder="swing, linear"
                toastr.options.showMethod = "fadeIn";   //placeholder="show, fadeIn, slideDown"
                toastr.options.hideMethod = "fadeOut";    //placeholder="hide, fadeOut, slideUp"
                var toastIndex = toastCount++;
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    positionClass: "toast-top-right",  //toast-top-right ,toast-bottom-right,toast-bottom-left, toast-top-left, toast-top-full-width,toast-bottom-full-width,toast-top-center,toast-bottom-center
                    onclick: null
                };
                $("#toastrOptions").text("Command: toastr["
                       + shortCutFunction
                       + "](\""
                       + msg
                       + (title ? "\", \"" + title : '')
                       + "\")\n\ntoastr.options = "
                       + JSON.stringify(toastr.options, null, 2)
               );
                var $toast = toastr[shortCutFunction](msg, title); // Wire up an event handler to a button in the toast, if it exists

            });
         
        });
    </script>
}