
@{
    ViewBag.Title = "ListOfBillings";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>List Of Billings</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("ExecutiveDashboard", "Dashboards")">Home</a>
            </li>
            <li>Billing</li>
            <li class="active">
                <strong>List Of Billings</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">

    <div class="ibox-content">
        <h5>List Of Billings</h5>
        <div class="row">
            <div class="col-sm-4" style="margin-top: 10px">
                <label>

                    <i class="fa fa-folder-open"></i> Billing Open Batch(es)(1)
                </label>
            </div>
            @*<label class="col-sm-1 control-label"></label>*@
            <div class="col-sm-4" style="margin-top: 10px">
                <label>
                    <i class="fa fa-folder-open"></i>  Billing Clean Up(0)
                </label>
            </div>
            <div class="col-sm-4" style="margin-top: 10px">
                <label>

                    <i class="fa fa-folder-open"></i> Billing Compliance(27)
                </label>
            </div>


        </div>
        <div class="row">
            <div class="col-sm-4" style="margin-top: 10px">
                <label>

                    <i class="fa fa-folder-open"></i> Billing-DOF Accepted Jobs(0)
                </label>
            </div>
            @*<label class="col-sm-1 control-label"></label>*@
            <div class="col-sm-4" style="margin-top: 10px">
                <label>

                    <i class="fa fa-folder-open"></i> Billing-DOF Suspended Jobs(248)
                </label>
            </div>
            <div class="col-sm-4" style="margin-top: 10px">
                <label>

                    <i class="fa fa-folder-open"></i> Billing-DSNY(100)
                </label>
            </div>


        </div>

        <div class="row">
            <div class="col-sm-4" style="margin-top: 10px">
                <label>

                    <i class="fa fa-folder-open"></i> Billing-Extermination(86)
                </label>
            </div>
            @*<label class="col-sm-1 control-label"></label>*@
            <div class="col-sm-4" style="margin-top: 10px">
                <label>

                    <i class="fa fa-folder-open"></i> Billing-Rejected Items(36)
                </label>
            </div>
            <div class="col-sm-4" style="margin-top: 10px">
                <label>

                    <i class="fa fa-folder-open"></i> Billing-Stoppage(0)
                </label>
            </div>


        </div>
        <div class="row">
            <div class="col-sm-4" style="margin-top: 10px">
                <label>

                    <i class="fa fa-folder-open"></i> DSNY-Waiting for Billing(19216)
                </label>
            </div>
            @*<label class="col-sm-1 control-label"></label>*@
            <div class="col-sm-4" style="margin-top: 10px">
                <label>

                    <i class="fa fa-folder-open"></i> Finalized Billing Batches(0)
                </label>
            </div>
            <div class="col-sm-4" style="margin-top: 10px">
                <label>

                    <i class="fa fa-folder-open"></i> Billing-Stoppage(0)
                </label>
            </div>


        </div>
        <div class="row">
            <div class="col-sm-4" style="margin-top: 10px">
                <label>

                    <i class="fa fa-folder-open"></i> My Research Queue(0)
                </label>
            </div>
            @*<label class="col-sm-1 control-label"></label>*@
            <div class="col-sm-4" style="margin-top: 10px">
                <label>

                    <i class="fa fa-folder-open"></i> Processing Billing Batches(31)
                </label>
            </div>
            <div class="col-sm-4" style="margin-top: 10px">
                <label>

                    <i class="fa fa-folder-open"></i> VPHS(25)
                </label>
            </div>


        </div>
    </div>
</div>