
@{
    ViewBag.Title = "GeoJobs";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Geo Jobs</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("ExecutiveDashboard", "Dashboards")">Home</a>
            </li>
            <li>PCS</li>
            <li class="active">
                <strong>Geo Jobs</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">

            <div class="ibox">
                
                <div class="ibox-content">

                    <div class="row">
                        <label class="col-sm-2 control-label">*House Number:</label>
                        <div class="col-md-3">
                            <input class="form-control" >
                        </div>
                        <label class="col-sm-1 control-label"></label>
                        <label class="col-sm-2 control-label">*Street Name:</label>
                        <div class="col-md-3">
                            <input class="form-control">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <label class="col-sm-2 control-label">Apartment Number:</label>
                        <div class="col-md-3">
                            <input class="form-control">
                        </div>
                        <label class="col-sm-1 control-label"></label>
                        <label class="col-sm-2 control-label">*Zip Code:</label>
                        <div class="col-md-3">
                            <input class="form-control">
                        </div>

                    </div>

                  
                    <div class="row" style="margin-top: 10px">
                        <label class="col-sm-2 control-label">*Borough:</label>
                        <div class="col-md-3">
                            <select class="select2_demo_1 form-control">
                                <option value="1">Manhattan</option>
                                <option value="2">Queens</option>
                                <option value="3">BRONX</option>
                            </select>
                        </div>
                        <label class="col-sm-1 control-label"></label>
                        <label class="col-sm-2 control-label">Is this a nuisance complaint?</label>
                        <div class="col-md-3">
                            <div class="radio">
                                <label>
                                    <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios"> Yes
                                </label>
                                <label>
                                    <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios"> No
                                </label>
                            </div>
                        </div>

                    </div>
                    <div class="row"  style="margin-top: 10px">
                        <label class="col-sm-2 control-label">*Location:</label>
                        <div class="col-md-3">
                            <select class="select2_demo_1 form-control">
                                <option value="1">Priority 1</option>
                                <option value="2">Priority 2</option>
                                <option value="3">Priority 3</option>
                            </select>
                        </div>
                        <label class="col-sm-1 control-label"></label>
                        <label class="col-sm-2 control-label">*Establishment Type:</label>
                        <div class="col-md-3">
                            <select class="select2_demo_1 form-control">
                                <option value="1">Select 1</option>
                                <option value="2">Select 2</option>
                                <option value="3">Select 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <label class="col-sm-2 control-label">*Priority:</label>
                        <div class="col-md-3">
                            <select class="select2_demo_1 form-control">
                                <option value="1">Select 1</option>
                                <option value="2">Select 2</option>
                                <option value="3">Select 3</option>
                            </select>
                        </div>
                        <label class="col-sm-1 control-label"></label>
                        
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <label class="col-sm-2 control-label">*Block:</label>
                        <div class="col-md-3">
                            <input class="form-control">
                        </div>
                        <label class="col-sm-1 control-label"></label>
                        <label class="col-sm-2 control-label">*Lot:</label>
                        <div class="col-md-3">
                            <input class="form-control">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <label class="col-sm-2 control-label">*Details:</label>
                      
                        <textarea class="col-lg-10 "></textarea>
                      
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <label class="col-sm-2 control-label">*Comments:</label>
                      
                        <textarea class="col-lg-10 "></textarea>

                    </div>
                    <div class="row" style="margin-top: 10px">
                        <div class="col-sm-4 ">
                       
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    </div>
