
@{
    ViewBag.Title = "LettersMailed";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Letters Mailed</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("ExecutiveDashboard", "Dashboards")">Home</a>
            </li>
            <li>PCS</li>
            <li class="active">
                <strong>Letters Mailed</strong>
            </li>
        </ol>
    </div>
</div>