
@{
    ViewBag.Title = "RoutineJobs";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Routine Jobs</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("ExecutiveDashboard", "Dashboards")">Home</a>
            </li>
            <li>PCS</li>
            <li class="active">
                <strong>Routine Job</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Address Information</h5>
                </div>
                <div class="ibox-content">

                    <div class="row">
                        
                        <label class="col-sm-2 control-label center-block">Choose Location Type:</label>
                        <div class="col-md-3">
                            <select class="select2_demo_1 form-control center-block">
                                <option value="1">Address</option>
                                <option value="2">Intersection</option>
                                <option value="3">Street Area</option>
                               
                            </select>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <label class="col-sm-2 control-label">*House Number:</label>
                        <div class="col-md-3">
                            <input class="form-control">
                        </div>
                        <label class="col-sm-1 control-label"></label>
                        <label class="col-sm-2 control-label">*Street Name:</label>
                        <div class="col-md-3">
                            <input class="form-control">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <label class="col-sm-2 control-label">Borough:</label>
                        <div class="col-md-3">
                            <select class="select2_demo_1 form-control">
                                <option value="1">Manhattan</option>
                                <option value="2">Queens</option>
                                <option value="3">Bronx</option>
                            </select>
                        </div>
                        <label class="col-sm-1 control-label"></label>
                        <label class="col-sm-2 control-label">Zip Code:</label>
                        <div class="col-md-3">
                            <input class="form-control">
                        </div>

                    </div>

                    <div class="row" style="margin-top: 10px">
                        <label class="col-sm-2 control-label">Apt No:</label>
                        <div class="col-md-3">
                            <input class="form-control">
                        </div>
                        <label class="col-sm-1 control-label"></label>
                       


                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12">

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Other Information</h5>
                    </div>
                    <div class="ibox-content">

                        <div class="row">

                            <label class="col-sm-2 control-label center-block">*Site ID:</label>
                            <div class="col-md-3">                            
                                    <input class="form-control">                          
                            </div>
                            <label class="col-sm-2 control-label">*Site Name:</label>
                            <div class="col-md-3">
                                <input class="form-control">
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px">
                            <label class="col-sm-2 control-label">*Priority:</label>
                            <div class="col-md-3">
                                <select class="select2_demo_1 form-control">
                                    <option value="1">Priority 1</option>
                                    <option value="2">Priority 2</option>
                                    <option value="3">Priority 3</option>
                                </select>
                            </div>
                            <label class="col-sm-1 control-label"></label>
                         
                        </div>
                        <div class="row" style="margin-top: 10px">
                            <label class="col-sm-2 control-label">*Location:</label>
                            <div class="col-md-3">
                                <select class="select2_demo_1 form-control">
                                    <option value="1">New York</option>
                                    <option value="2">Albany</option>
                                    <option value="3">USA</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label">*Location Information:</label>
                            <div class="col-md-3">
                                <input class="form-control">
                            </div>
                            <label class="col-sm-1 control-label"></label>
                        </div>
                        <div class="row"  style="margin-top: 5px">
                            <label class="col-sm-2 control-label">*Condition Type:</label>
                            <div class="col-md-3">
                                <input class="form-control">
                            </div>
                           
                            <label class="col-sm-2 control-label">*Establishment Type:</label>
                            <div class="col-md-3">
                                <select class="select2_demo_1 form-control">
                                    <option value="1">Type 1</option>
                                    <option value="2">Type 2</option>
                                    <option value="3">Type 3</option>
                                </select>
                            </div>


                        </div>
                        <div class="row" style="margin-top: 10px">

                            <label class="col-sm-2 control-label center-block">X_Coordinate:</label>
                            <div class="col-md-3">
                                <input class="form-control">
                            </div>
                            <label class="col-sm-2 control-label">Y_Coordinate:</label>
                            <div class="col-md-3">
                                <input class="form-control">
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px">
                            <label class="col-sm-2 control-label">*Details:</label>
                            
                            <textarea class="col-lg-10 "></textarea>

                        </div>
                        <div class="row" style="margin-top: 10px">
                            <label class="col-sm-2 control-label">*Comments:</label>
                            
                            <textarea class="col-lg-10 "></textarea>

                        </div>
                        <div class="row" style="margin-top: 10px">
                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-lg-6">
                                    <button type="button" class="btn btn-primary">Create Routine Extermination Job</button>
                                    <button type="button" class="btn btn-primary" style="margin-left:10px">Create Routine Inspection Job</button>
                                </div>
                                <div class="col-lg-5"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
